/* * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * {
  background-color: rgba(0, 0, 255, 0.2);
}
* * * * {
  background-color: rgba(255, 0, 255, 0.2);
}
* * * * * {
  background-color: rgba(0, 255, 255, 0.2);
}
* * * * * * {
  background-color: rgba(255, 255, 0, 0.2);
}
* * * * * * * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * * * * * * * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * * * * * * * {
  background-color: rgba(0, 0, 255, 0.2);
} */

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
  height: 100vh;
  min-width: 150px;
  width: 100vw;
  padding: 2.5rem 0 6rem 0;
}

.total-count {
  font-family: 'Roboto', sans-serif;
  font-size: 8rem;
}

.history {
  font-family: 'Open Sans', sans-serif;
  display: inline-grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  text-align: center;
  height: 5rem;
}

.change {
  grid-column: 1 / 2;
}

.subtotal {
  grid-column: 2 / 3;
}

.buttons-single-counter {
  display: inline-grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  height: 8rem;
}

.btn-single-counter {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  width: 40vw;
  min-width: 5rem;
}

.btn-single-counter-tall {
  height: 5rem;
  grid-row: 1/2;
}

.btn-single-counter-short {
  height: 3rem;
  grid-row: 2/3;
}

.btn-single-counter-add {
  /* background-color: green; */
}

.btn-single-counter-subtract {
  /* background-color: red; */
}

.buttons-mode {
  display: flex;
  width: 70vw;
  justify-content: space-evenly;
  border: 1px solid black;
}

.btn-mode-change {
  height: 5vw;
  width: 5vw;
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 50%;
  z-index: 1;
}

@media (min-width: 600px) {
  .counter {
    padding: 1.5rem 0 2rem 0;
    /* padding: 0rem 0 2rem 0; */
  }

  .buttons-single-counter {
    position: absolute;
    top: 0;
    z-index: 1;
    grid-template: 1fr / repeat(4, 25vw);
    opacity: 50%;
  }

  .btn-single-counter {
    z-index: -1;
    grid-row: 1/2;
    width: 25vw;
    height: 100vh;
    border: 1px dashed black;
  }

  #btn-single-counter-subtract-five {
    grid-column: 1/2;
  }
  #btn-single-counter-subtract-one {
    grid-column: 2/3;
  }
  #btn-single-counter-add-one {
    grid-column: 3/4;
  }
  #btn-single-counter-add-five {
    grid-column: 4/5;
  }
}
