.land-counters {
  display: flex;
  flex: 1 1 10rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 600px;
}

.land-counter {
  border: 1px solid black;
  flex: 0 1 5.5rem;
  margin: 0 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 8rem;
  justify-content: space-between;
  text-align: center;
}

.btn-land {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  width: 100%;
  min-width: 6rem;
  height: 2rem;
}

@media (min-width: 600px) {
  .land-counters {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-areas: 'plains island swamp mountain forest';
    border: 1px solid blue;
    width: 100vw;
  }

  .land-counter {
    /* flex: 1 1 8rem; */
  }
}
