{{#if is404}}
  <div>ERROR: 404: File Not Found</div>
  <div>
    <a href="/">Go back to homepage</a>
  </div>
{{/if}}

{{#if is500}}
  <div>ERROR: 500: Internal Server Error</div>
  <p>
    {{ error }}
  </p>
{{/if}}