<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p>Create an account or log in</p>
      <a href="/users/signup" class="btn btn-primary btn-block mb-2">Sign up</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Log in</a>
      <a href="/users" class="btn btn-danger btn-block">USERS</a>
    </div>
  </div>
</div>
